body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
   
}

.contenedor{
    width: 50%;
    margin: 3px auto;
}


nav{
    background-color: rgb(147, 154, 218);
    color: white;
    opacity: 0.7;
}

nav ul{

    padding: 0px;
    list-style: none;
}

nav li{

    display: inline;
}


nav a{

    text-decoration: none;
    font-size: 1.2em;
    padding-right: 15px;
}

nav a:hover{

    text-decoration: underline;
     color: rgb(218, 208, 204);
}

header{

    background-image: url("../imagenes/WhatsApp\ Image\ 2023-02-11\ at\ 11.02.45\ PM.jpeg");
    /* height: 400px; */
    min-height: 400px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}


#izquierdo{
    float: left;
    width: 25%;
    padding: 5px 20px;
    box-sizing: border-box;
}

#principal{

  float: left;
  width: 50%;
  padding: 5px 20px;
  box-sizing: border-box;
}

#derecho{

    float: left;
    width: 25%;
    padding: 5px 20px;
    box-sizing: border-box;
}

#pie{

    clear: both;
    text-align: center;
}